.Button {
  border: 1px solid #884c87;
  padding: 8px;
  margin: 10px;
  background-color: #884c87;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 2px #ccc;
  position: center;
  cursor: pointer;
  outline: none;
  transition:  all 0.3s;
}


.Button:hover {
  background-color: #eeaa73;
  border: 1px solid #eeaa73;
  letter-spacing: 3px;
  text-transform: uppercase;
  box-shadow: 2px 4px 4px #ccc;
}

.Button:active {
  text-shadow: 6px 6px 12px #884c87;
  color: #884c87
}

.Success, .Success:hover {
  background-color: #1930e1;
  font-size:0.7em;
  border: 1px solid #1930e1;
  padding: 4px;
  float: right;
  margin: 5px;
}

.Cancel, .Cancel:hover {
  background-color: #ce2424;
  font-size:0.7em;
  border: 1px solid #ce2424;
  padding: 4px;
  float: right;
  margin: 5px;
}

